*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3d5f00;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer_logo {
    float: right;
    position: absolute;
    margin-top: -350px;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{ 
    text-decoration: none; color: #fff;
}
socials a i{ 
    font-size: 1.1rem; transition: color .4s ease; 
}
.socials a:hover i{ 
    color: rgb(255, 255, 255); 
} 
.footer-content p.your-website {
    font-size: 14px;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    margin: 0rem 0 3rem 0;
}
.socials img {
    border-radius: 360px;
    padding: 5px;
    background-color: #e8e4d4;
    margin-left: 7px;
}

.socials img:hover {
    background-color:#3d5f00;
    cursor: pointer;
    transition: 0.2s;
}

.socials p {
    color: #e8e4d4;
    font-family: 'Cairo';
    float: right;
    clear: both;
    margin-right: 7vh;
}

.socials {
    height: 100px;
}
.footer_image1 {
    float: left;
    position: absolute;
    padding-left: 700px;
    padding-bottom: 70px;
}
.footer_image2 {
    float: left;
    position: absolute;
    padding-left: 730px;
    padding-bottom: 70px;
}
.footer_image3 {
    float: left;
    position: absolute;
    padding-right: 500px;
    padding-bottom: 10px;
}
.footer_image4 {
    float: left;
    position: absolute;
    padding-right: 470px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
  }
  
  @media only screen and (min-width: 1025px) {
  }
  